<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="css/style.css")
body
    h1 Hello, Waha hano ha!
    
    style(src="bower_components/jquery/dist/jquery.min.js" type="text/javascript")